.pagesNav{
    .responsiveNav{
        .arrow{
            transform: rotate(-90deg);
        }
        .navlinks{
              animation: slideIn 0.5s ease-in-out;
              max-height: 100%;
        }
        @keyframes slideIn {
            from {
              transform: translateY(-50%);
              opacity: 0;
            }
            to {
              transform: translateY(0);
              opacity: 1;
            }
          }
    }
    div{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .arrow{
            transition: transform 0.3s ease;
        }
        .active{
            display: none;
        }

        .navlinks{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            max-height: 0;
            overflow: hidden;
        }
        .btnlink{
            width: 2.7rem;
            height: 2.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 2px solid #d1ffff;
            transition:all 0.5s ease;
            &:hover{
                cursor: pointer;
                background-color: var(--primary-color);
                border: none;
            }
          .backArrow{
            padding: 10px;
            font-size: 1.5rem;
            width: 2.7rem;
            height: 2.7rem;
            transition:all 0.5s ease;
            &:hover{
                color: var(--bg-color);
            }
          }
        }
    }
}

@media(max-width :768px) {
    .pagesNav{
        order: 1;
        .btnlink{
            .backArrow{
                margin-top: 0;
            }
        }
    }
}
@media(max-width :425px) {
    .pagesNav{
        .responsiveNav{
            .arrow{
                transform: rotate(180deg);
            }
            .navlinks{
                  max-width: 100%;
            }
            @keyframes slideIn {
                from {
                  transform: translateX(-100%);
                  opacity: 0;
                }
                to {
                  transform: translateX(0);
                  opacity: 1;
                }
              }
        }
        div{
            display: flex;
            flex-direction: row;
            .navlinks{
                flex-direction: row;

            }
        }
    }
}
