@font-face {
  font-family: impact;
  src: url("/fonts/impact.ttf");
}

:root{
  --desktop-view: 1200px;
  --laptop-view: 1024px;
  --tab-view: 768px;
  --mob-view: 425px;
  
  --bg-color: #0D1212; 
  --primary-color: #00ffff;
  --secondary-color: #D1FFFF;
  --primary-72: rgba(0, 255, 255, 0.72);
  --primary-50: rgba(0, 255, 255, 0.5);
  --primary-5: rgba(0, 255, 255, 0.05);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
  font-style: normal;
  font-size: 20px;
}
html{
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--secondary-color);
}


a {
  color: inherit;
  text-decoration: none;
}
li{
  list-style-type: none;
}

h1{
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 3.35rem;
  color: var(--primary-color);
}
h2{
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.1rem;
}
h3{
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.7rem;
  color: var(--primary-color);
}
h4{
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.85rem;
}
p{
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.05rem;
}
button{
  height: 40px;
  width: 80px;
  background-color: transparent;
  color: #d1ffff;
  border: 2px solid #d1ffff;
  border-radius: 10px;
  transition:all 0.5s ease;
  &:hover{
      color: var(--bg-color);
      background-color: var(--primary-color);
      cursor: pointer;
      border: none;
  }
}
@media (max-width: 1100px){
  html, body{
    font-size: 18px;
  }
}
@media (max-width: 490px){
  html, body{
    font-size: 16px;
  }
  h1{
    font-size: 2.625rem;
  }
  h2{
    font-size: 1.8rem;
  }
  p{
    font-size: 1.1rem;
    line-height: 1.1rem;
  }

}


